* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat' , sans-serif; }

.contianer { max-width: 1100px; margin: 0 auto;}
.area { background: #2e2e2e; color: #f2f2f2; height: 300px !important;  }

.cu-btn { font-size: 22px; letter-spacing: 2px;}
.q-box { color: #fff; margin: 0 4px; display: block; padding: 0 20px;}
.q-box p { font-size: 8px; text-align: center;}
.hide { display: none !important ;}
.show { display: block;}
.game-paly {  display: none;}
.correct-btn { background: #12641c !important; display: block !important;}
.wrong-btn { background: #a50500 !important; display: block !important;}
button { }
.show-game-paly {  display: block;}
.question-btn { background: #222; color: #fff; padding: 5px 25px; border: none; width: 120px;}
.question-btn:hover { background: #243152;}
.checkedBtn { background: #243152;}
.container { max-width: 1100px; margin: 0 auto; overflow: auto; padding: 0 40px;}
.my-1 { margin: 1rem 0;}
.my-2 { margin: 1.5rem 0;}
.my-3 { margin: 2rem 0;}
.my-4 { margin: 3rem 0;}
.my-5 { margin: 4rem 0;}
.flex-row { display: flex; text-align: center; align-items: center; justify-content: center; height: 100%;}
.align-start { align-items:flex-start !important;}
.flex-sv { display: flex; text-align: center; align-items: center; justify-content: space-evenly; height: 100%;}
.flex-col-c { flex: 1; text-align: center; padding: 1rem;}
.flex-col-r { flex: 1; text-align: right; padding: 1rem;}
.flex-col-l { flex: 1; text-align: left; padding: 1rem;}
.justify-sv { justify-content: space-evenly !important;}
.justify-ct { justify-content: center !important;}
.align-center { align-items: center !important;}
.align-start { align-items:flex-start !important;}
.btn { display: inline-block; border: none; padding: 0.5rem 2rem;
    border-radius: 5px;}
.f-sv { justify-content: space-evenly; display: flex;}
.f-sp { justify-content: space-between; display: flex;}
.f-fs { justify-content:flex-start; display: flex;}
.f-fe { justify-content: flex-end; display: flex;}
.f-sa { justify-content: space-around; display: flex;}
.f-ct { justify-content: center; display: flex;}
.t-bold { font-weight: bolder;}
.flex-cols { display: flex; padding: 1rem;}
@media (max-width: 749px) {

    .flex-cols { flex-direction: column;}
    
}

@media (max-width: 476px) {
    .flex-cols { flex-direction: column;}

}